body {
    font-family: georgia, serif;

    text-align: center;
}

    header, h1 {
        background-color: #ba6b6c;
        color: white
        padding: 7px;
        margin: 7px;
    }
main {
    display: flex;
}
